doctype html
html
	head
		style
			include ../public/stylesheets/bootstrap.min.css
			include ../public/stylesheets/style.css
		script
			include ../public/javascripts/jquery.js
			include ../public/javascripts/bootstrap.min.js
	body
		block content
		block script
			script(src="/javascripts/jquery.validate.js")
			script(src="/javascripts/jquery.validate.min.js")
			script(src="/javascripts/dashboard.js")